/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a{
  text-decoration: none
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both; }
/*****************************************************/
.wrap{
  width: 100%;
  height: 100%;
}

.banner{
  height: 56px;
  width: 100%;
  background-color: #000;
}

.logo{
  float: left;
  padding: 10px 25px;
}
.menu{
  float: right;
}

.menu li{
  display: inline-block;
  margin-right: 50px;
  line-height: 56px;
}

.menu li a {
  direction: none;
  color: #fff;
}

.showmenu{
  float: right;
  display: none;
  line-height: 56px;
  font-size: 30px;
}

.title_img{
  background-image: url('../images/desktop.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 420px;
}

.title_container{
  width: 460px;
  height: 152px;
  margin: 0 auto;
  transform: translateY(78%);
  background: rgba(0, 0, 0, 0.4);
}

.title_container h1{
  font-size: 36px;
  color: #fff;
  padding: 30px;
  text-align: center;
}

.title_container p{
  font-size: 16px;
  line-height: 25px;
  color: #fff;
  text-align: center;
  
}

.container{
  padding: 50px 0;
  background-color: #EFE9E7;
  color: #3D1101;
}

.container_text{
  text-align: center;
  position: relative;
  font-size: 20px;
  color: #3D1101;
  line-height: 32px;
}

.container_text span::before {
  position: absolute;
  content: ' ';
  border-bottom: 1px solid #979797;
  height: 5px;
  width: 14%;
  top: 18px;
  right: 30%; 

}

.container_text span::after{
  position: absolute;
  content: ' ';
  border-bottom: 1px solid #979797;
  height: 5px;
  width: 14%;
  top: 18px;
  left: 30%; 

}

.feature{
  margin-left: 80px;
}

.feature li{
  display: inline-block;
  width: 28.33333%;
  text-align: center;
  margin-right: 4.5%;
  font-size: 18px;
}

.feature li img{
  border-radius: 50%;
  margin-top: 34px;
}

.feature span{
  display: block;
  margin: 15px 0;
  font-size: 18px;
  color: #3D1101;
}

.feature p{
  width: 80%;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  margin:  0 auto;
  color: #3D1101;
}

.chef_wrap{
  background: #3D1101;
  color: #EFE9E7;
  padding: 0 200px;
}

.chef_wrap li{
  float: left;
  width: 45%;
}

.chef_wrap li img{
  max-width: 100%;
  height: 460px;
  display: block;
}

.chef_wrap li h5{
  font-size: 50px;
  margin-top: 81px;
  margin-bottom: 40px;
}


.chef_wrap li p{
  font-size: 26px;
}

.facebook{
  background: #EFE9E7;
  color: #3D1101;
}

.facebook h1{
  font-size: 24px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 10px;

}

.facebook li{
  width: 28.33%;
  margin: 2%;
  float: left;
}

.facebook img{
  float: left;
  border-radius: 50%;
}

.impression{
  overflow: hidden;
  padding-left: 10px;
  padding-top: 34px;
}

.impression h5{
padding-top: 15px;
padding-bottom: 15px;
}

.impression span{
text-align: right;
display: block;
  }

.reservation{
  height: auto;
  background: #F6F4F3;
  color: #3D1101;
  padding: 50px; 
}

.reservation_container{
  margin: 0 auto;
}

.reservation h3{
  font-size: 24px;
  color: #3D1101;
  text-align: center;
  padding-bottom: 40px;

}


.reservation ul{
margin: 0 auto;
}

.reservation li{
  float: left;
  width: 48%;
}



.reservation ul li iframe {
  width: 100%;
  height: 350px; 
}

.reservation ul .form {
  padding: 0 20px 20px 40px;
}

.reservation ul .form label {
    display: block;
    margin: 10px 0;
    font-size: 1rem;
    cursor: pointer;
}
.contact_form_text{
  width: 90%;
}

.button{
  float: right;
}